@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

votting {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: $screen-xs-max) { }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }
  @media (min-width: $screen-md-min) {
    flex-direction: row;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { }
  @media (min-width: $screen-lg-min) { }
}
