@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "./scss/variables";


:host {
  //my-app
  padding: 10px;
  display: block;
  height: 100%;
  font-family: $main-font-family;

  nav {
    background-color: $main-purple;

    .navbar-header {
      float: left;
      margin-right: -15px;

    }

    .navbar-brand {
      padding: 2px;

      img {
        height: 45px;
      }
    }

    .app-title {
      color : $main-font-color;
      font-size: 20px;
      font-weight: bold;
      margin: 15px;
      float: left;
    }
  }

  .app-main-container {
    height: 100%;
  }

  & /deep/ .voting-app-container {
    border: solid 1px #e7e7e7;
    border-radius: 3px;
    background-color: $main-purple;
    color: $main-font-color;
    font-size: 20px;
    font-weight: bold;
    font-family: $main-font-family;
  }

  @media (max-width: $screen-xs-max) {
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  }
  @media (min-width: $screen-lg-min) {
  }
}
