@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "./scss/variables";


app {
  padding: 10px;
  display: block;

  nav {
    background-color: $main-purple;

    .navbar-brand {
      padding: 2px;

      img {
        height: 45px;
      }
    }

    .app-title {
      color : $main-font-color;
      font-size: 20px;
      font-weight: bold;
      font-family: $main-font-family;
    }
  }

  .app-main-container {

  }

  @media (max-width: $screen-xs-max) {
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  }
  @media (min-width: $screen-lg-min) {
  }
}
