@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "./scss/variables";


:host {
  //my-app
  padding: 10px;
  display: block;
  height: 100%;
  font-family: $main-font-family;

  .app-main-container {
    height: 100%;
  }

  & /deep/ {

    .alert-danger {
      background-color: #2e2e2e;
      color: $main-font-color;
      font-size: 14px;
      border-color: $main-font-color;
      margin-top: 2px;
    }

    .ng-valid[required], .ng-valid.required  {
      border-left: 5px solid #42A948; /* green */
    }

    .ng-invalid:not(form)  {
      border-left: 5px solid #a94442; /* red */
    }

    .voting-app-container {
      border: solid 1px #e7e7e7;
      border-radius: 3px;
      background-color: $main-purple;
      color: $main-font-color;
      font-size: 20px;
      font-weight: bold;
      font-family: $main-font-family;
    }
  }

  @media (max-width: $screen-xs-max) {
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  }
  @media (min-width: $screen-lg-min) {
  }
}
