@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../scss/variables";

:host {
  //results-component
  display: flex;
  height: 100%;
  padding-bottom: 20px;

  .results-box {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    cursor: pointer;

    .item-votes {
      display: flex;
      flex-direction: row;

      .item-title {
        //width: 200px;
        text-align: left;
      }
    }
  }

  @media (max-width: $screen-xs-max) { }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }
  @media (min-width: $screen-md-min) {
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { }
  @media (min-width: $screen-lg-min) { }
}
