@import "../../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../../scss/_variables";

:host {
  //login-component
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;

  .login-box {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    padding: 10px;

    #loginForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 16px;

      label {
        font-size: 18px;
      }
    }
  }

  @media (max-width: $screen-xs-max) { }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }
  @media (min-width: $screen-md-min) {

  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { }
  @media (min-width: $screen-lg-min) { }
}
